/* .f-container{
    justify-content: space-between;
}
.f-left{
    gap: 1rem;
}
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}
@media (max-width: 768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
    .f-right{
        justify-content: center;
    }
}
.span1:hover{
    
    cursor: pointer;
    transform: scale(1.2);
    transition: all 200ms ease-in;
   
}
@media (max-width: 768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
    .f-right{
        justify-content: center;
    }
} */

.f-container {
    @apply justify-between;
}

.f-left {
    @apply gap-4;
}

.f-menu {
    @apply gap-6 font-medium mt-6;
}

@media (max-width: 768px) {
    .f-container {
        @apply justify-center justify-center;
    }

    .f-container>div {
        @apply items-center text-center items-center text-center;
    }

    .f-right {
        @apply justify-center justify-center;
    }
}

.span1:hover {
    @apply cursor-pointer transition-all duration-200 ease-[ease-in] scale-[1.2];
}